/* Created by: Graeme
 * Created on: Mar 4 2022
 * This CSS file defines the style for index2.html 
*/

body {
	background-color: rgb(252, 222, 103);
}

h1{
	color: rgb(3, 14, 18)
}

p{
	color: rgb(3, 14, 18)
}